BITCollegeWindows/Connected Services/CollegeRegistrationService/CollegeRegistration1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DropCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registrationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DropCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DropCourseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentId" type="xs:int" />
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
        <xs:element minOccurs="0" name="notes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterCourseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grade" type="xs:double" />
        <xs:element minOccurs="0" name="registrationId" type="xs:int" />
        <xs:element minOccurs="0" name="notes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGradeResult" nillable="true" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>