BITCollegeSite/Connected Services/CollegeRegistrationService/CollegeRegistration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CollegeRegistration" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57975/CollegeRegistration.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57975/CollegeRegistration.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICollegeRegistration_DropCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:DropCourse" />
  </wsdl:message>
  <wsdl:message name="ICollegeRegistration_DropCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:DropCourseResponse" />
  </wsdl:message>
  <wsdl:message name="ICollegeRegistration_RegisterCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCourse" />
  </wsdl:message>
  <wsdl:message name="ICollegeRegistration_RegisterCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCourseResponse" />
  </wsdl:message>
  <wsdl:message name="ICollegeRegistration_UpdateGrade_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGrade" />
  </wsdl:message>
  <wsdl:message name="ICollegeRegistration_UpdateGrade_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGradeResponse" />
  </wsdl:message>
  <wsdl:portType name="ICollegeRegistration">
    <wsdl:operation name="DropCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollegeRegistration/DropCourse" message="tns:ICollegeRegistration_DropCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollegeRegistration/DropCourseResponse" message="tns:ICollegeRegistration_DropCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollegeRegistration/RegisterCourse" message="tns:ICollegeRegistration_RegisterCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollegeRegistration/RegisterCourseResponse" message="tns:ICollegeRegistration_RegisterCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGrade">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollegeRegistration/UpdateGrade" message="tns:ICollegeRegistration_UpdateGrade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollegeRegistration/UpdateGradeResponse" message="tns:ICollegeRegistration_UpdateGrade_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICollegeRegistration" type="tns:ICollegeRegistration">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DropCourse">
      <soap:operation soapAction="http://tempuri.org/ICollegeRegistration/DropCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterCourse">
      <soap:operation soapAction="http://tempuri.org/ICollegeRegistration/RegisterCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGrade">
      <soap:operation soapAction="http://tempuri.org/ICollegeRegistration/UpdateGrade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CollegeRegistration">
    <wsdl:port name="BasicHttpBinding_ICollegeRegistration" binding="tns:BasicHttpBinding_ICollegeRegistration">
      <soap:address location="http://localhost:57975/CollegeRegistration.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>